*{
    box-sizing: border-box;
    list-style: none;
}

.container{
    align-items: center;
}

#cards{
    display:inline-block;
    margin: 0px 10px;

    height: 400px;
    width: 25vw;

    align-items: center;

    margin: 5px 10px;
}

#img{
    height: 200px;
    width: 100%;
}